@charset "UTF-8";
/* Variables */
/* Padding pour les marges latérales */
/* Marge pour les sections */
/* Largeur maximale pour le contenu */
/* Mixins */
/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--layout-surface-background, #FFFFFF);
  border: 1px solid #000000;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box; /* Pour inclure le padding dans la largeur totale */
}

header {
  background-color: #61787F;
  height: 122px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 20px;
  border: 1px solid #000000;
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
}
header .logo {
  width: 127px;
  height: 94px;
}
header .header-text {
  flex-grow: 1;
  color: #FFFFFF;
}
header .header-text h2 {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  font-weight: 300;
  line-height: 59.28px;
  margin: 0;
  text-align: left;
  color: #FFFFFF;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
}

section {
  margin: 40px auto;
}

h2 {
  padding-bottom: 10px;
  text-align: center;
}

#best-movie {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#best-movie h2 {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 71.14px;
  color: #000000;
  margin: 0;
  padding: 0;
  text-align: left;
}
#best-movie #best-movie-details {
  display: flex;
  width: 100%;
  padding: 20px;
  border: 6px solid #000000;
  background-color: #fff;
  margin-top: 20px;
  flex-direction: row;
}
#best-movie #best-movie-details #best-movie-img {
  width: 227px;
  height: 334px;
  margin-right: 20px;
  margin-right: 20px;
}
@media (max-width: 768px) {
  #best-movie #best-movie-details #best-movie-img {
    margin-right: 0;
  }
}
@media (max-width: 480px) {
  #best-movie #best-movie-details #best-movie-img {
    margin-right: 0;
  }
}
#best-movie #best-movie-details .movie-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
#best-movie #best-movie-details .movie-info #best-movie-title {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 71.14px;
  color: #000000;
  margin: 0;
  width: 463px;
  height: 44px;
  text-align: left;
}
#best-movie #best-movie-details .movie-info #best-movie-summary {
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  font-weight: 200;
  line-height: 41.5px;
  color: #000000;
  margin: 10px 0;
  width: 501px;
  height: 113px;
  text-align: left;
}
#best-movie #best-movie-details .movie-info #best-movie-details-btn {
  background-color: #FA0B0B;
  color: white;
  padding: 2px 4px;
  border: none;
  cursor: pointer;
  width: 166px;
  height: 68px;
  border-radius: 25px;
  gap: 10px;
  align-self: flex-end;
}
#best-movie #best-movie-details .movie-info #best-movie-details-btn:hover {
  background-color: #555;
}
@media (max-width: 768px) {
  #best-movie #best-movie-details {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  #best-movie #best-movie-details {
    flex-direction: column;
  }
}

#category-select {
  margin: 10px;
  padding: 5px;
}

#top-rated-movies-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#top-rated-movies-list .movie-item {
  display: block;
}
@media (max-width: 768px) {
  #top-rated-movies-list .movie-item {
    display: none;
  }
}
@media (max-width: 480px) {
  #top-rated-movies-list .movie-item {
    display: none;
  }
}
#top-rated-movies-list .movie-item:nth-child(-n+4) {
  display: block;
}
@media (max-width: 768px) {
  #top-rated-movies-list .movie-item:nth-child(-n+4) {
    display: block;
  }
}
@media (max-width: 480px) {
  #top-rated-movies-list .movie-item:nth-child(-n+4) {
    display: none;
  }
}
#top-rated-movies-list .movie-item:nth-child(-n+2) {
  display: block;
}
@media (max-width: 768px) {
  #top-rated-movies-list .movie-item:nth-child(-n+2) {
    display: block;
  }
}
@media (max-width: 480px) {
  #top-rated-movies-list .movie-item:nth-child(-n+2) {
    display: block;
  }
}

@media (max-width: 768px) {
  #top-rated-movies-list .movie-item,
  #category-1-list .movie-item,
  #category-2-list .movie-item,
  #custom-category-list .movie-item {
    display: none;
  }
  #top-rated-movies-list .movie-item:nth-child(-n+4),
  #category-1-list .movie-item:nth-child(-n+4),
  #category-2-list .movie-item:nth-child(-n+4),
  #custom-category-list .movie-item:nth-child(-n+4) {
    display: block;
  }
  #best-movie-details {
    flex-direction: column;
  }
  #best-movie-img {
    margin: 0 0 10px 0;
  }
  #best-movie-title {
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  #top-rated-movies-list .movie-item,
  #category-1-list .movie-item,
  #category-2-list .movie-item,
  #custom-category-list .movie-item {
    display: none;
  }
  #top-rated-movies-list .movie-item:nth-child(-n+2),
  #category-1-list .movie-item:nth-child(-n+2),
  #category-2-list .movie-item:nth-child(-n+2),
  #custom-category-list .movie-item:nth-child(-n+2) {
    display: block;
  }
}

/*# sourceMappingURL=app.css.map */
