@charset "UTF-8";
/* Global styles and variables */
/* Gris foncé */
/* Mixins */
/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--layout-surface-background, #FFFFFF);
  border: 1px solid #000000;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

header {
  background-color: #61787F;
  height: 122px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 20px;
  border: 1px solid #000000;
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
}
header .logo {
  width: 127px;
  height: 94px;
}
header .header-text {
  flex-grow: 1;
  color: #FFFFFF;
}
header .header-text h2 {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  font-weight: 300;
  line-height: 59.28px;
  margin: 0;
  text-align: left;
  color: #FFFFFF;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
}

section {
  margin: 40px auto;
}

.section-title, #top-rated-movies h2, #best-movie h2 {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 71.14px;
  color: #000000;
  margin: 0;
  padding: 0;
  text-align: left;
  padding-bottom: 10px;
}

#best-movie {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#best-movie #best-movie-details {
  display: flex;
  width: 100%;
  padding: 20px;
  border: 6px solid #000000;
  background-color: #fff;
  margin-top: 20px;
  flex-direction: row;
}
#best-movie #best-movie-details #best-movie-img {
  width: 227px;
  height: 334px;
  margin-right: 20px;
  margin-right: 20px;
}
@media (max-width: 768px) {
  #best-movie #best-movie-details #best-movie-img {
    margin-right: 0;
  }
}
@media (max-width: 480px) {
  #best-movie #best-movie-details #best-movie-img {
    margin-right: 0;
  }
}
#best-movie #best-movie-details .movie-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
#best-movie #best-movie-details .movie-info #best-movie-title {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 71.14px;
  color: #000000;
  margin: 0;
  width: 463px;
  height: 44px;
  text-align: left;
}
#best-movie #best-movie-details .movie-info #best-movie-summary {
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  font-weight: 200;
  line-height: 41.5px;
  color: #000000;
  margin: 10px 0;
  width: 501px;
  height: 113px;
  text-align: left;
}
#best-movie #best-movie-details .movie-info #best-movie-details-btn {
  background-color: red; /* Red color for the best movie details button */
  color: white;
  padding: 2px 4px;
  border: none;
  cursor: pointer;
  width: 166px;
  height: 68px;
  border-radius: 25px;
  align-self: flex-end;
}
#best-movie #best-movie-details .movie-info #best-movie-details-btn:hover {
  background-color: darkred;
}
@media (max-width: 768px) {
  #best-movie #best-movie-details {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  #best-movie #best-movie-details {
    flex-direction: column;
  }
}

.details-btn {
  background-color: #4f4f4f; /* Default color for other details buttons */
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}
.details-btn:hover {
  background-color: #555;
}

#category-select {
  margin: 10px;
  padding: 5px;
}

#top-rated-movies {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#top-rated-movies #top-rated-movies-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#top-rated-movies #top-rated-movies-list .movie-item {
  position: relative;
  margin: 10px;
  text-align: center;
}
#top-rated-movies #top-rated-movies-list .movie-item img {
  width: 252px;
  height: 252px;
  object-fit: cover;
}
#top-rated-movies #top-rated-movies-list .movie-item h3 {
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -66%);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #FFFFFF;
  padding: 10px;
  margin: 0;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 600;
}
#top-rated-movies #top-rated-movies-list .movie-item .details-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #4f4f4f;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}
#top-rated-movies #top-rated-movies-list .movie-item .details-btn:hover {
  background-color: #555;
}

@media (max-width: 768px) {
  #top-rated-movies-list .movie-item,
  #category-1-list .movie-item,
  #category-2-list .movie-item,
  #custom-category-list .movie-item {
    display: none;
  }
  #top-rated-movies-list .movie-item:nth-child(-n+4),
  #category-1-list .movie-item:nth-child(-n+4),
  #category-2-list .movie-item:nth-child(-n+4),
  #custom-category-list .movie-item:nth-child(-n+4) {
    display: block;
  }
  #best-movie-details {
    flex-direction: column;
  }
  #best-movie-img {
    margin: 0 0 10px 0;
  }
  #best-movie-title {
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  #top-rated-movies-list .movie-item,
  #category-1-list .movie-item,
  #category-2-list .movie-item,
  #custom-category-list .movie-item {
    display: none;
  }
  #top-rated-movies-list .movie-item:nth-child(-n+2),
  #category-1-list .movie-item:nth-child(-n+2),
  #category-2-list .movie-item:nth-child(-n+2),
  #custom-category-list .movie-item:nth-child(-n+2) {
    display: block;
  }
}

/*# sourceMappingURL=app.css.map */
