$primary-color: #333;
$secondary-color: #f0f0f0;
$header-bg-color: #61787F;
$header-height: 150px;
$logo-height: 120px;
$button-height: 68px;
$button-width: 166px;
$button-radius: 25px;
$font-family: Arial, sans-serif;
$header-font-family: 'Oswald', sans-serif;
$header-font-size: 48px;
$header-font-weight: 300;
$hover-color: #555;
$background-color: #FFFFFF;
$text-color-white: #FFFFFF;
$text-color-black: #000000;
$best-movie-font-size: 48px;
$best-movie-font-weight: 600;
$best-movie-line-height: 71.14px;
$details-button-bg: #4f4f4f;
$overlay-bg: rgba(0, 0, 0, 0.7);
$content-padding: 0 20px;
$section-margin: 40px auto;
$max-content-width: 1200px;
$more-button-bg: red;
$more-button-hover-bg: darkred;
$more-button-text-color: #FFFFFF;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin responsive($property, $desktop, $tablet, $mobile) {
  #{$property}: $desktop;

  @media (max-width: 768px) {
    #{$property}: $tablet;
  }

  @media (max-width: 480px) {
    #{$property}: $mobile;
  }
}

body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  background-color: $secondary-color;
  color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--layout-surface-background, $background-color);
}

.container {
  width: 100%;
  max-width: $max-content-width;
  padding: $content-padding;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}

header {
  background-color: $header-bg-color;
  height: $header-height;
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 20px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin-top: 100px;

  .logo {
    width: auto;
    height: $logo-height;
  }

  .header-text {
    flex-grow: 1;
    color: $text-color-white;

    h2 {
      font-family: $header-font-family;
      font-size: $header-font-size;
      font-weight: $header-font-weight;
      line-height: 59.28px;
      margin: 0;
      text-align: left;
      color: $text-color-white;

      @media (max-width: 768px) {
        font-size: 40px;
        font-weight: 300;
        line-height: 59.28px;
        text-align: left;
      }
    }
  }
}

main {
  width: 100%;
  max-width: $max-content-width;
  box-sizing: border-box;
  margin-top: 40px;

  @media (max-width: 768px) {
    margin: 0 auto; // Ajouter de la marge pour éviter l'étirement du contenu sur tablette
  }
}

section {
  margin: 60px auto;
}

.section-title {
  font-family: $header-font-family;
  font-size: $best-movie-font-size;
  font-weight: $best-movie-font-weight;
  line-height: $best-movie-line-height;
  color: $text-color-black;
  margin: 0;
  padding: 0;
  text-align: left;
  padding-bottom: 10px;

  @media (max-width: 768px) {
    font-size: 40px;
    font-weight: 600;
    line-height: 59.28px;
    text-align: left;
  }
}

.category-title-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.category-title-container .section-title {
  margin-right: 10px;
}

#best-movie {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h2 {
    @extend .section-title;
  }

  #best-movie-details {
    display: flex;
    width: 100%;
    padding: 20px;
    border: 6px solid $text-color-black;
    background-color: #fff;
    margin-top: 20px;
    box-sizing: border-box;

    @include responsive(flex-direction, row, column, column);
  }

  img#best-movie-img {
    width: 227px;
    height: 334px;
    margin-right: 20px;

    @include responsive(width, 227px, 168px, 298px); // Adjusted width for 480px
    @include responsive(height, 334px, 246px, 241px); // Adjusted height for 480px
    @include responsive(margin-right, 20px, 0, 0); // Adjusted margin-right for different breakpoints
  }

  .best-movie-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    box-sizing: border-box;
    width: 100%; // Add this line to ensure it takes full width

    h3 {
      font-family: $header-font-family;
      font-size: 48px;
      font-weight: 600;
      line-height: 71.14px;
      color: $text-color-black;
      margin: 0;
      width: 100%;
      height: 44px;
      text-align: left;

      @include responsive(font-size, 48px, 40px, 32px);
      @include responsive(line-height, 71.14px, 60px, 47.42px);
    }

    p {
      font-family: $header-font-family;
      font-size: 28px;
      font-weight: 200;
      line-height: 41.5px;
      color: $text-color-black;
      margin: 10px 0;
      width: 100%;
      height: auto;
      text-align: left;

      @include responsive(font-size, 28px, 24px, 16px);
      @include responsive(line-height, 41.5px, 36px, 23.71px);
    }

    .best-movie-details-btn-container {
      display: flex;
      justify-content: flex-end;

      button {
        background-color: red;
        color: white;
        padding: 2px 4px;
        border: none;
        cursor: pointer;
        width: $button-width;
        height: $button-height;
        border-radius: $button-radius;
        font-size: 20px;

        @include responsive(width, $button-width, 123px, 100%);
        @include responsive(height, $button-height, 49px, auto);
        @include responsive(font-size, 20px, 20px, 16px);

        &:hover {
          background-color: darkred;
        }
      }
    }
  }
}

.details-btn {
  background-color: $details-button-bg;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: $button-radius;
  font-size: 18px;

  &:hover {
    background-color: $hover-color;
  }
}

.movie-item {
  position: relative;
  margin: 10px;
  text-align: center;
  flex: 0 0 calc(33.333% - 20px);
  box-sizing: border-box;
  height: 0;
  padding-bottom: 33.333%;

  @include responsive(padding-bottom, 33.333%, 50%, 50%); // Adjusted for square images on tablet
}

.movie-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.movie-overlay {
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 100%;
  height: 40%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 15px;
  box-sizing: border-box;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-overlay h3 {
  margin: 0 0 10px 0;
  font-family: $header-font-family;
  font-size: 24px;
  font-weight: normal;
}

.movie-overlay .details-btn {
  background-color: $details-button-bg;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: $button-radius;
  font-size: 18px;
  align-self: flex-end;
  position: relative;
  margin-top: auto;

  &:hover {
    background-color: $hover-color;
  }
}

#category-select {
  width: 404px;
  height: 58.43px;
  margin: 0 10px;
  padding: 5px;
  border: 1px solid $primary-color;
  opacity: 1;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
}

#category-select option {
  padding: 10px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: normal;
  height: 40px;
}

.movie-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
}

.show-more {
  display: block;
  background-color: red;
  color: $more-button-text-color;
  padding: 10px 80px;
  border: none;
  cursor: pointer;
  border-radius: $button-radius;
  font-family: $header-font-family;
  font-size: 18px;
  font-weight: 600;
  margin: 20px auto;
  text-align: center;

  &:hover {
    background-color: darkred;
  }
}

body.modal-open {
  overflow: hidden;
}

.show-all .movie-item {
  display: block !important; // Afficher tous les films lorsque show-all est ajouté
}

// Masquer les boutons "Voir plus" sur les grands écrans
@media (min-width: 769px) {
  .show-more {
    display: none !important; // Utilisation de !important pour forcer le masquage
  }
  .movie-list .movie-item {
    display: block !important;
  }
}

// Masquer les films au-delà des 4 premiers sur les tablettes
@media (max-width: 768px) {
  body {
    margin: 20px;
  }

  .movie-item {
    flex: 0 0 calc(50% - 20px);
  }

  .movie-list:not(.show-all) .movie-item:nth-child(n+5) {
    display: none;
  }

  .show-more {
    display: block;
  }

  .header-text h2 {
    font-size: 40px !important;
    font-weight: 300 !important;
    line-height: 59.28px !important;
    text-align: left !important;
  }

  .section-title {
    font-size: 40px !important;
    font-weight: 600 !important;
    line-height: 59.28px !important;
    text-align: left !important;
  }

  #best-movie-details {
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;

    img#best-movie-img {
      width: 168px !important;
      height: 246px !important;
      margin-right: 30px !important;
    }

    .best-movie-info {
      flex: 1 !important;
      display: flex !important;
      flex-direction: column !important;
      justify-content: center !important;
      margin-right: 20px !important;

      h3 {
        font-size: 40px !important;
        line-height: 60px !important;
      }

      p {
        font-size: 24px !important;
        line-height: 36px !important;
        margin: 10px 0 !important;
      }

      .best-movie-details-btn-container {
        button {
          width: 123px !important;
          height: 49px !important;
          font-size: 20px !important;
        }
      }
    }
  }

  .movie-overlay {
    bottom: 80px !important;

    h3 {
      font-size: 24px !important;
    }

    .details-btn {
      font-size: 14px !important;
      padding: 8px 12px !important;
    }
  }
}

// Masquer les films au-delà des 2 premiers sur les mobiles
@media (max-width: 480px) {
  header {
    justify-content: center;
  }

  .header-text {
    display: none;
  }

  .logo {
    width: 182px;
    height: 130px;
  }

  .section-title {
    font-family: Oswald, sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 47.42px;
    text-align: center;
  }

  #best-movie {
    h2.section-title {
      text-align: center;
      font-family: Oswald, sans-serif;
      font-size: 32px;
      font-weight: 600;
      line-height: 47.42px;
    }

    #best-movie-details {
      width: 100% !important;
      height: auto !important;
      border: 6px solid #000000 !important;
      display: block !important;
      flex-direction: column !important;
      align-items: center !important;
      padding: 10px !important;
      margin: 0 auto !important;
      box-sizing: border-box !important;
    }

    img#best-movie-img {
      width: 365px !important; // Ensure the image width
      height: 241px !important; // Ensure the image height
      margin-left: 0 auto !important;
      margin-bottom: 10px !important;
      object-fit: cover;
      display: block !important;
    }

    .best-movie-info {
      display: flex !important;
      flex-direction: column !important;
      align-items: center !important;
      text-align: center !important;
      width: 100% !important; // Ensure it takes full width

      h3 {
        font-family: Oswald, sans-serif !important;
        font-size: 32px !important;
        font-weight: 600 !important;
        line-height: 47.42px !important;
        margin-bottom: 10px !important;
      }

      p {
        font-family: Oswald, sans-serif !important;
        font-size: 16px !important;
        font-weight: 200 !important;
        line-height: 23.71px !important;
        margin-bottom: 10px !important;
      }

      .best-movie-details-btn-container {
        display: flex !important;
        justify-content: center !important;
        width: 100%; // Add this line to ensure it takes full width

        button {
          background-color: red !important;
          color: white !important;
          padding: 8px 16px !important;
          border: none !important;
          cursor: pointer !important;
          border-radius: 25px !important;
          font-size: 16px !important;
          font-weight: 600 !important;
        }
      }
    }
  }

  #top-rated-movies .section-title {
    text-align: center;
    font-family: Oswald, sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 47.42px;
  }

  .movie-item {
    width: 329px;
    height: 325.05px;
    margin: 10px auto;
    flex: 0 0 100%;
  }

  #top-rated-movies .movie-list:not(.show-all) .movie-item:nth-child(n+3),
  #category-1 .movie-list:not(.show-all) .movie-item:nth-child(n+3),
  #category-2 .movie-list:not(.show-all) .movie-item:nth-child(n+3),
  #custom-category .movie-list:not(.show-all) .movie-item:nth-child(n+3) {
    display: none;
  }

  .show-more {
    display: block;
  }

  .movie-overlay {
    bottom: 20px;
    transform: translateY(50%);
    height: auto;
    padding: 10px;
  }

  .movie-overlay h3 {
    font-family: Oswald, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 35.57px;
  }

  .movie-overlay .details-btn {
    font-family: Oswald, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20.75px;
    padding: 6px 10px;
  }

  #category-select {
    width: 285px;
    height: 68px;
    margin: 0 10px;
    padding: 5px;
    border: 1px solid $primary-color;
    border-width: 1px 0 0 0;
    font-family: Oswald, sans-serif;
    font-size: 24px;
    font-weight: normal;
  }

  .category-title-container h2 {
    display: none;
  }
}

.movie-list.show-all .show-more {
  display: none; // Masquer le bouton "Voir plus" lorsque tous les films sont affichés
}
